body{
    margin: 0 auto;
    background-color: #f7efe5;
}

        .bg-body-tertiary {
            padding: 20px;

            margin: 0 auto;
            width: 80%;
        }

        .navbar-brand,
        .nav-link {
            font-size: 1.5em;
            color: rgb(100, 67, 67);
        }
        .carousel-item{
            height: 620px;
          }

        .form-control {
            width: 400px;
        }
        #imgs1{
            height: 100%;
          }
          #imgs2{
            height: 100%;
          }
          #imgs3{
            height: 100%;
          }

        .container-fluid {
            margin-left: 10%;
        }

        /*---------------------------tags para estilo do corrossel do banner---------------*/
        #carouselExampleAutoplaying {
            margin-top: 2%;
            align-items: center;
        }

        .control-banner-prev,
        .control-banner-next {
            background-color: #00AC7C;
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        .control-banner-prev {
            margin-left: 10%;
        }

        .control-banner-next {
            margin-right: 10%;
        }

        .d-block {
            width: 500px;
        }

        /*-----------tags para o estilo do carrossel de produtos da página home-------------------*/
        #carouselExample {
            margin-top: 5%;
        }

        .alinhar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .control-prev-produto,
        .control-next-produto {
            margin-top: 5%;
            background-color: #00AC7C;
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }

        .control-prev-produto {
            margin-left: 8%;
        }

        .control-next-produto {
            margin-right: 8%;
        }

        /*---------------------tags para estilo dos card de produtos da home-------------------*/
        .card {
            width: 350px;
            height: 420px;
            box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 120ms;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 0.5em;
            padding-bottom: 3.4em;
        }

        .card::after {
            content: "Add to Cart";
            padding-top: 1.25em;
            padding-left: 1.25em;
            position: absolute;
            left: 0;
            bottom: -60px;
            background: #00AC7C;
            color: #fff;
            height: 2.5em;
            width: 100%;
            transition: all 80ms;
            font-weight: 600;
            text-transform: uppercase;
        }

        .card.title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 1.875em;
            font-weight: 400;
        }

        .card .price {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 0.625em;
        }

        .card:hover::after {
            bottom: 0;
        }

        .card:active {
            transform: scale(0.98);
        }

        .card::after {
            content: "Ir ao produto";
            height: 3.125em;
        }

        .text {
            max-width: 55px;
        }

        .image {
            /* background: rgb(241, 241, 241); */
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
        }
        .imagensCard{
            width: 100%;
            height: 90%;
        }
        /*-------------------------tags para footer---------------*/
        footer{
            background-color: #00AC7C;

        }
        .text-center{
            margin-top: 10%;
        }





        /* main */


        /*        --------------------------------------  Banner 2  ---------------------------------------*/


        .banner2{
            border: 2px solid black;
        }

        .duasCaixas{
          
            border: 2px solid black; 
            display: flex;
            flex-direction: column;
           
        }
        .caixa1{
            margin: 0 auto;
            border: 2px solid red;
            width: 50%;
            
        }
        .caixa2{
            margin: 0 auto;
            border: 2px solid red;
            width: 50%;
        }





        #header {
            box-sizing: border-box;
            height: 120px;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
          }
        
          .logo2{
            display: none;
         }
          
          
          .logoo{
            width: 9%;
            margin-top: 3%;
            margin-left: 3%;
          }
          
          #menu {
            margin-top: 6%;
            display: flex;
            list-style: none;
            gap: 0.5rem;
            
          }
          
          #menu a {
            
            display: block;
            padding: 2.0rem;
            color: #0b3800;
            text-decoration: none;
            font-family: 'Antonio', sans-serif;
            font-size: 26px;
          
            
          }
          
          #menu a:hover{
          
            transition: 1s;
            color: #008031e3;
          }
          
          #btn-mobile {
            display: none;
          }




          
          @media (max-width: 1000px) {
            #menu {
                display: block;
                position: absolute;
                width: 100%;
                top: 70px;
                right: 0px;
                background: #f7e7d1;
                transition: 0.6s;
                z-index: 1000;
                height: 0px;
                visibility: hidden;
                overflow-y: hidden;
              
            }
       
        
          
            #nav.active #menu {
                height: calc(100vh - 70px);
                visibility: visible;
                overflow-y: auto;
            }
          
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
                color: #332915;
             
            }
          
            #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
            }
          
            #hamburger {
                border-top: 2px solid;
                width: 20px;
            }
          
            #hamburger::after,
            #hamburger::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
            }
          
            #nav.active #hamburger {
                border-top-color: transparent;
            }
          
            #nav.active #hamburger::before {
                transform: rotate(135deg);
            }
          
            #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
            }
            .logo2{
                display: block;
                width: 30%;
              
             }
             .logoo{
                display: none;
             }
             .search {
       
                margin-top: 10%;
              }
          
              .search__button{
                width: 10%;
                border-radius: 100%;
              }
              .carousel-item{
                height: 290px;
              }
              #imgs1{
                height: 100%;
              }
              #imgs2{
                height: 100%;
              }
              #imgs3{
                height: 100%;
              }


              /* Cards ---------------------------------*/

              #carouselExample {
                margin-top: 15%;
            }

          .card{
            height: 250px;
            margin: 2%;
          }
          .card::after{
            height: 70px;
          }
      

        
       
         
          }


          /*Barra de Pesquisa Começo*/


          .search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            margin-top: 25px;
            margin-right: 15px;
          
          }
          
          .search__input {
            font-family: inherit;
            font-size: inherit;
            background-color: #ffffff;
            border: none;
            color: #646464;
            padding: 0.7rem 1rem;
            border-radius: 30px;
            width: 12em;
            transition: all ease-in-out .5s;
            margin-right: -2rem;
          }
          
          .search__input:hover, .search__input:focus {
            box-shadow: 0 0 1em #018844c0;
          }
          
          .search__input:focus {
            outline: none;
            background-color: #ffffff;
          }
          
          .search__input::-webkit-input-placeholder {
            font-weight: 100;
            color: #695151;
          }
          
          .search__input:focus + .search__button {
            background-color: #f0eeee;
          }
          
          .search__button {
            border: none;
            background-color: #ffffff;
            margin-top: .1em;
          }
          
          .search__button:hover {
            cursor: pointer;
          }
          
          .search__icon {
            height: 1.3em;
            width: 1.0em;
            fill: #000000b7;
            
          }
        /*Barra de Pesquisa Fim*/





        