@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@500&display=swap');

/*box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.1);*/
.container{
    margin-top: 5%;
}
.justify-content-md-center{
    margin-top: 3%;
}
.titulo-sobre{
    padding: 2%;
    font-family: 'Raleway', sans-serif;
    color: rgb(15, 56, 13); 
    text-shadow:  rgba(0, 0, 0, 0.644) 0.1em 0.1em 0.2em
}

.produto1sobre{
    margin-left: 10%;
    width: 50%;
    height: 30%;
}
.areaSobrenos{
    display: flex;
    flex-direction: row;
}
.areaSobrenos2{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.infoSobreNos{
    padding: 2%;
}
.texto-sobre, .texto-sobre2 {
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1em;
}
.texto-sobre2{
    margin-left: 17%;
}
.montanha{
    width: 40%;
    height: 20%;
}

.task {
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 5%;
    width: 50%;
    color: #2e2e2f;
    cursor: pointer;
    background-color: #e0d9d1;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border: 3px dashed transparent;
  }
  
  .task:hover {
    box-shadow: rgba(66, 3, 3, 0.3) 0px 2px 8px 0px;
    border-color: rgba(10, 71, 4, 0.377) !important;
  }
  .form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
  }
  .tituloForm{
    padding: 2%;
    font-family: 'Raleway', sans-serif;
    color: rgb(15, 56, 13); 
    text-shadow:  rgba(0, 0, 0, 0.644) 0.1em 0.1em 0.2em
  }
  .textoForm{
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 1em;
    width: 40%;
  }
  .caixasdoForm{
    display: flex;
    flex-direction: column;
  }

  .inputFormSobre{
    border: none;
    padding: 5%;
    margin-top: 8%;
    border-radius: 1rem;
    width: 140%;
    background: #e0d9d1;
    box-shadow: 5px 5px 20px #c5c5c5,
           -5px -5px 20px #8a9c8a;
    transition: 0.3s;
   }
   
   .inputFormSobre:focus {
    outline-color: #c5b4b4;
    background: #e0d9d1;
    box-shadow: inset 5px 5px 20px #e0d9d1,
           inset -5px -5px 20px #e0d9d1;
    transition: 0.3s;
   }

   .button-formSobre {
    padding: 15px 45px;
    width: 150px;
    margin-top: 5%;
    background: #548142;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border:none;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  
 .button-formSobre:hover {
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
  }
  
  .button-formSobre:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .button-formSobre .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .button-formSobre .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
   .montanhaMobile{
    display: none;
   }

  @media only screen and (max-width: 490px){
    .container{
    margin-top: 0;
      }
    .titulo-sobre{
        margin-top: 5%;
        font-size: 1em;
    }
    .produto1sobre{
       margin:0 auto;
       width: 70%;
       height: 30%;
    }
    .areaSobrenos{
       display: flex;
       flex-direction: column;
    }
    .texto-sobre, .texto-sobre2{
       text-align: justify;
       margin:0 auto;
       font-size: 0.7em;
       width: 80%;
       margin-top: 1%;
    }
    .texto-sobre2{
        text-align: left;
        margin-left: 5%;
    }
    .montanha{
        display: none;
    }
    .montanhaMobile{
        display: block;
       margin-left: 9%;
       width: 50%;
       height: 30%;
    }
    .task{
        width: 80%; 
    }
    .form{
        display: flex;
        flex-direction: column;
        padding: 5%;
      }
      .textoForm{
        margin:0 auto;
        width: 100%;
      }
      .tituloForm{
        margin-left: 20%;
      }
      .faleConoscoTexto{
        text-align: center;
        width: 100%;
        font-size: 0.8em;
      }
      .inputFormSobre{
        width: 100%;
       }
       
   .button-formSobre {
    margin: 0 auto;
    width: 110px;
    margin-top: 5%;
    background: #548142;
    font-size: 10px;
    font-weight: 500;
    color: #181818;
    border:none;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  }