 a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
 }
 /*---------------------------tags geral para estilo dos banners de produtos---------------*/
 .carousel-products{
    margin: 0 auto;
    width: 80%;
  }
  /*-----------tags para o estilo do carrossel de produtos da página home usável para os produtos também-------------------*/
  .alinhar {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .control-prev-produto,
  .control-next-produto {
    margin-top: 12%;
    background-color: #00AC7C;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .control-prev-produto {
    margin-left: 10%;
  }

  .control-next-produto {
    margin-right: 10%;
  }

  /*-----------------------css do segundo banner de produtos-----------------------*/
  .secondCarousel{
    margin-top: 15%;
    width: 80%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    background-color: #00AC7C;
    margin-top: 12%;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .carousel-control-next{
    margin-right: 10%;
  }
  .carousel-control-prev{
    margin-left: 10%;
  }
  .bannerProducts1,
  .bannerProducts2{
    background-color: #0f7457;
  }


  /*---------------------tags para estilo dos card de produtos-------------------*/
  .card {
    width: 350px;
    height: 420px;
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
}

.card::after {
    content: "Add to Cart";
    padding-top: 1.25em;
    padding-left: 1.25em;
    position: absolute;
    left: 0;
    bottom: -60px;
    background: #00AC7C;
    color: #fff;
    height: 2.5em;
    width: 100%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
}

.card.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
}

.card .price {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
}

.card:hover::after {
    bottom: 0;
}

.card:active {
    transform: scale(0.98);
}

.card::after {
    content: "Ir ao produto";
    height: 3.125em;
}

.text {
    max-width: 55px;
}

.image {
    /* background: rgb(241, 241, 241); */
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.imagensCard {
    width: 100%;
    height: 90%;
}

/*--------------------------- estilo da página de um produto--------------*/
.card-descricao-produto{
    
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    background: rgb(255, 245, 241);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .produtoedescricao{
    display: flex;
    flex-direction: row;
  }
.produto{
    height: 200px;
    width: 200px;
}
.simulacao{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
  /*-------------------------tags para footer---------------*/
  footer {
    background-color: #00AC7C;

  }

  .text-center {
    margin-top: 10%;
  }